<!-- displaying articles -->
<div class= "post card ">
    <header class="title card-header-title card-header has-background-grey-lighter">
        <span>{{post.title}}</span>
    </header>
    <div class="card-content">
        <div class="content">{{post.post_content}}</div>
        {{!-- <div class="text-center">
            <a href="/post/{{post.id}}"><button class="button mb-5 ml-5 is-success">Read More</button></a>
        </div> --}}
        <div class="is-pulled-right">
            created by {{post.user.username}} on {{format_date post.created_at}} |
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>
    </div>
</div>

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">add comment</button>
  </div>
  
</form>
{{/if}}

<div class="comments">
{{#each post.comments }}
  <div class="comment">
    <div class="meta">
      created by {{this.user.username}} on {{format_date this.created_at}} 
    </div>
    <div class="text">
      {{ this.comment_text }}
    </div>
  </div>
{{/each}}
</div>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}